<script type="x/template" id="vue-shipping-profile-select">
    <div class="cmp cmp-method-list list m-b-2" v-bind:class="{ 'error': showError }">
        <ul class="method-list component-loading" :class="{ 'isLoading': isBasketLoading }">
            <li v-for="shippingProfile in shippingProfileList" class="method-list-item" :data-id="shippingProfile.parcelServicePresetId">
                <input
                        type="radio"
                        :id="'ShippingProfileID' + _uid + shippingProfile.parcelServicePresetId"
                        name="ShippingProfileID"
                        :value="shippingProfile.parcelServicePresetId"
                        @change="onShippingProfileChange(shippingProfile.parcelServicePresetId)"
                        :checked="shippingProfileId === shippingProfile.parcelServicePresetId"
                        :disabled = "isBasketLoading"
                >
                <label :for="'ShippingProfileID' +  _uid + shippingProfile.parcelServicePresetId">
                    <div class="icon">
                        {#DHL LOGO FUER VERSANDOPTION#}
                        <img v-if="shippingProfile.parcelServicePresetId === 6" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/dhl-logo.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 16" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/dhl-logo.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 17" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/dhl-logo.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 18" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/dhl-logo.jpg">
                        {#DEUTSCHE POST LOGO FUER VERSANDOPTION#}
                        <img v-if="shippingProfile.parcelServicePresetId === 7" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 9" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 12" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 13" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 14" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">
                        <img v-if="shippingProfile.parcelServicePresetId === 15" src="https://cdn02.plentymarkets.com/0rygaiu41io5/frontend/versand-logos/deutsche-post.jpg">              
                    </div><!--
                    --><div class="content">
                        ${ shippingProfile.parcelServiceName } - ${ shippingProfile.parcelServicePresetName }
                        <div>
                            <small>
                                ${ shippingProfile.shippingAmount | currency }
                            </small>
                        </div>
                    </div>
                </label>
            </li><!-- -->
        </ul>
    </div>
</script>
